<%= image_tag('https://s3.amazonaws.com/enbw-assets/beer-list.svg', class:"Beer-List") %>
<div class="White-Container">
  <div class="beers">
  <% @beers.each do |beer| %>
    <div class="beer">
      <%= image_tag(beer.image, class:"Beer-Logo") %>
      <div class="beer-text">
        <div class="beer-name"><%= beer.name%></div>
        <div class="beer-tagline"><%= beer.tag_line%></div>
      </div>
      <div class="beer-tier">
        <div class="beer-tier-text">TIER</div>
        <div class="beer-tier-content"><%= beer.tier.short_hand %></div>
      </div>
      <div class="beer-abv">
        <div class="abv-text">ABV</div>
        <div class="abv-content"><%= beer.abv%>%</div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="guest-beers">
    <% unless @guest_beers.empty? %>
      <%= image_tag('https://s3.amazonaws.com/enbw-assets/guest-beer.svg', class:"Guest-Beer") %>
      <div class="guest-beer-price">$<%= @guest_beers.first.price.upcase %></div>
      <div class="guest-beer-name"><%= @guest_beers.first.name.upcase %></div>
    <% end %>
  </div>
</div>
<div class="tier-pricing">
  <% @tiers.each do |tier| %>
    <div class="tier">
      <div class="tier-main-name"><%= tier.name.upcase %></div>
      <div class="taster">
        <div class="tier-name">TASTER</div>
        <div class="tier-content">$<%= tier.taster %></div>
      </div>
      <div class="half-pint">
        <div class="tier-name">HALF PINT</div>
        <div class="tier-content">$<%= tier.half_pint %></div>
      </div>
      <div class="pint">
        <div class="tier-name">PINT</div>
        <div class="tier-content">$<%= tier.pint%></div>
      </div>
      <div class="crowler">
        <div class="tier-name">CROWLER</div>
        <div class="tier-content">$<%= tier.crowler%></div>
      </div>
      <div class="growler">
        <div class="tier-name">GROWLER</div>
        <div class="tier-content">$<%= tier.growler%></div>
      </div>
    </div>
  <% end %>
</div>