<%= image_tag('beer-list', class:"Beer-List") %>
<div class="White-Container">
  <div class="beers">
  <% @beers.each do |beer| %>
    <div class="beer">
      <div class="Beer-Logo"></div>
      <div class="beer-text">
        <div class="beer-name"><%= beer.name%></div>
        <div class="beer-tagline"><%= beer.tag_line%></div>
      </div>
      <div class="beer-abv">
        <div class="abv-text">ABV</div>
        <div class="abv-content"><%= beer.abv%>%</div>
      </div>
      <div class="beer-tier">
        <div class="beer-tier-text">TIER</div>
        <div class="beer-tier-content"><%= beer.tier.short_hand %></div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="guest-beer">
    <%= image_tag('guest-beer', class:"Guest-Beer") %>
    <div class="guest-beer-name"><%= @guest_beers.first.name %></div>
    <div class="guest-beer-price"><%= @guest_beers.first.price %></div>
  </div>
</div>
<div class="tier-pricing">
  <% @tiers.each do |tier| %>
    <div class="tier">
      <div class="tier-name"><%= tier.name %></div>
      <div class="taster">
        <div class="taster-name">Taster</div>
        <div class="taster-content">$<%= tier.taster%></div>
      </div>
      <div class="half-pint">
        <div class="half-pint-name">Half Pint</div>
        <div class="half-pint-content">$<%= tier.half_pint %></div>
      </div>
      <div class="pint">
        <div class="pint-name">Pint</div>
        <div class="pint-content">$<%= tier.pint%></div>
      </div>
      <div class="crowler">
        <div class="crowler-name">Crowler</div>
        <div class="crowler-content">$<%= tier.crowler%></div>
      </div>
      <div class="growler">
        <div class="growler-name">Growler</div>
        <div class="growler-content">$<%= tier.growler%></div>
      </div>
    </div>
  <% end %>
</div>